<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom border-bottom-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">Sistema Financeiro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" th:href="@{/home#principal}">Principal</a>
                    <a class="nav-link" th:href="@{/home#lucro}">Lucro</a>
                    <a class="nav-link" th:href="@{/home#orcamento}">Orçamento</a>
                    <a class="nav-link" th:href="@{/home#pessoa}">Pessoa</a>
                    <a class="nav-link" th:href="@{/home#relatorio}">Relatório</a>
                    <a class="nav-link" th:href="@{/home#gasto}">Gasto</a>
                    <a class="nav-link" th:href="@{/home#categoria}">Categoria</a>
                    <a class="nav-link btn btn-danger text-white" th:href="@{/auth/logout}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container mt-5">
        <h1>Bem-vindo à Tela Principal, <span th:text="${nome}">Usuário</span>!</h1>
        <p>Você está autenticado!</p>

        <section class="border-top row" id="principal">
            <div class="mt-4 col-md-12" id="orcamento">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Orçamento</h4>
                    </div>
                    <div class="card-body">
                        <p>Aqui você pode gerenciar os orçamentos.</p>
                        <a href="#" class="btn btn-primary">Cadastrar Orçamentos</a>

                        <div class="mt-4 col-md-12" id="relatorio">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Relatório</h4>
                                </div>
                                <div class="card-body">
                                    <p>Aqui você pode gerenciar os relatórios.</p>
                                    <a href="#" class="btn btn-primary">Ver Relatórios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 col-md-6" id="lucro">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Lucro</h4>
                    </div>
                    <div class="card-body">
                        <p>Aqui você pode cadastrar os lucros.</p>
                        <form id="registerFormLucro" onsubmit="return submitLucroForm()">
                            <div class="form-group mt-2">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" id="descricao" name="descricao" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" id="categoriaLucroCadastrar" name="categoria" required>
                                    <!-- Categorias de Lucro serão carregadas aqui via AJAX -->
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <label for="valor">Valor</label>
                                <input type="number" step="0.01" class="form-control" id="valor" name="valor" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="data">Data</label>
                                <input type="date" class="form-control" id="data" name="data" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4">Cadastrar Lucro</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="mt-4 col-md-6" id="gasto">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Gasto</h4>
                    </div>
                    <div class="card-body">
                        <p>Aqui você pode cadastrar os gastos.</p>
                        <a href="#" class="btn btn-primary">Ver Gastos</a>
                    </div>
                </div>
            </div>

            <div class="mt-4 col-md-12" id="categoria">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Categoria</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="col-md-4 mt-2" id="registerFormCategory" th:action="@{/categorias/register}" method="post" onsubmit="return submitForm()">
                                <h5>Registro de nova categoria</h5>
                                <div class="form-group mt-2">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="tipo">Tipo</label>
                                    <select class="form-control" id="tipo" name="tipoCategoria" required>
                                        <option value="LUCRO">Lucro</option>
                                        <option value="GASTO">Gasto</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mt-2">Registrar</button>
                            </form>
                            <div class="col-md-4 mt-2">
                                <h5>Categorias de Lucros</h5>
                                <ul class="list-group" id="categoriasLucro">
                                </ul>
                            </div>
                            <div class="col-md-4 mt-2">
                                <h5>Categorias de Gastos</h5>
                                <ul class="list-group" id="categoriasGasto">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="text-center py-5">
    <div class="d-flex flex-wrap justify-content-between align-items-center py-2 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Sistema de Gestão Financeira por <a class="text-body-secondary" href="https://github.com/LucasFelip">Lucas Ferreira</a></p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#principal" class="nav-link px-2 text-body-secondary">Principal</a></li>
            <li class="nav-item"><a href="#lucro" class="nav-link px-2 text-body-secondary">Lucro</a></li>
            <li class="nav-item"><a href="#orcamento" class="nav-link px-2 text-body-secondary">Orçamento</a></li>
            <li class="nav-item"><a href="#pessoa" class="nav-link px-2 text-body-secondary">Pessoa</a></li>
            <li class="nav-item"><a href="#relatorio" class="nav-link px-2 text-body-secondary">Relatório</a></li>
            <li class="nav-item"><a href="#gasto" class="nav-link px-2 text-body-secondary">Gasto</a></li>
            <li class="nav-item"><a href="#categoria" class="nav-link px-2 text-body-secondary">Categoria</a></li>
        </ul>
    </div>
    <div class="text-body-secondary mt-3">
        <p>Sistema desenvolvido para facilitar a gestão financeira pessoal, integrando funcionalidades de controle de lucros, orçamentos, relatórios, e mais.</p>
    </div>
</footer>


<script>
    function submitForm() {
        const formData = {
            nome: document.getElementById('nome').value,
            tipoCategoria: document.getElementById('tipo').value
        };

        fetch('/categorias/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.ok) {
                    alert('Categoria registrada com sucesso!');
                    window.location.reload();
                } else {
                    alert('Erro ao registrar categoria.');
                }
            });
        return false;
    }

    $(document).ready(function() {
        // Carregar categorias de Lucro
        $.ajax({
            url: '/categorias/tipo?tipo=LUCRO',
            method: 'GET',
            success: function(data) {
                let lucroList = $('#categoriasLucro');
                data.forEach(function(categoria) {
                    lucroList.append('<li class="list-group-item">' + categoria.nome + '</li>');
                });
            },
            error: function(xhr, status, error) {
                console.error("Erro ao carregar categorias de Lucro:", error);
            }
        });

        // Carregar categorias de Gasto
        $.ajax({
            url: '/categorias/tipo?tipo=GASTO',
            method: 'GET',
            success: function(data) {
                let gastoList = $('#categoriasGasto');
                data.forEach(function(categoria) {
                    gastoList.append('<li class="list-group-item">' + categoria.nome + '</li>');
                });
            },
            error: function(xhr, status, error) {
                console.error("Erro ao carregar categorias de Gasto:", error);
            }
        });
    });

    $(document).ready(function() {
        // Carregar categorias de Lucro
        $.ajax({
            url: '/categorias/tipo?tipo=LUCRO',
            method: 'GET',
            success: function(data) {
                let categoriaSelect = $('#categoriaLucroCadastrar');
                data.forEach(function(categoria) {
                    categoriaSelect.append('<option value="' + categoria.id + '">' + categoria.nome + '</option>');
                });
            },
            error: function(xhr, status, error) {
                console.error("Erro ao carregar categorias de Lucro:", error);
            }
        });
    });

    function submitLucroForm() {
        const formData = {
            descricao: document.getElementById('descricao').value,
            categoria: { id: document.getElementById('categoriaLucroCadastrar').value },
            valor: parseFloat(document.getElementById('valor').value),
            data: document.getElementById('data').value
        };

        fetch('/lucros/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.ok) {
                    alert('Lucro cadastrado com sucesso!');
                    window.location.reload(); // Atualize a página para refletir as mudanças
                } else {
                    alert('Erro ao cadastrar lucro.');
                }
            });
        return false;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
